<table class="example-full-width" cellspacing="0">
    <tr>
      <td>
          <mat-form-field class="width">
              <input matInput placeholder="Full Person Name" [formControl]="name" required>
              <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
            </mat-form-field>
      </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="width">
                <input matInput placeholder="Owner Name" [formControl]="name" required>
                <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
              </mat-form-field>
        </td>
      </tr>
      <tr>
          <td>
              <mat-form-field class="width">
                  <input matInput placeholder="Email" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
          </td>
      </tr>
      <tr>
          <td>
              <mat-form-field class="width">
                  <span matPrefix>+972 &nbsp;</span>
                  <input matInput placeholder="Phone Numer" [formControl]="phone" type="number">
                  <mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>
                </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="width">
                    <input matInput placeholder="City Name" [formControl]="city" type="text" required>
                    <mat-error *ngIf="city.invalid">{{getErrorMessageCity()}}</mat-error>
                  </mat-form-field>
            </td>
          </tr>
        <tr>
            <td>
                <mat-form-field class="width">
                    <input matInput placeholder="Location Discription" [formControl]="location" type="text" required>
                    <mat-error *ngIf="location.invalid">{{getErrorMessageLocation()}}</mat-error>
                  </mat-form-field>
            </td>
          </tr>
      <tr>
          <td>
              <mat-form-field class="width">
                <input matInput placeholder="Password" [formControl]="password" type="password">
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
              </mat-form-field>
          </td>
      </tr>
    <tr>
        <td>
            <mat-form-field class="width">
              <input matInput placeholder="Confirem Password" [formControl]="password" type="password">
              <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <button mat-raised-button color="primary">Submit</button>
    
        </td>
        <td>
            <button mat-raised-button color="accent">Clear</button>
        </td>
    </tr>
  </table>
  