@import '~@angular/material/theming';


$color-main: rgb(63, 105, 221);
$color-hover: rgb(81, 140, 228);
$color-edit: rgb(255, 219, 91);

$item-font-color: white;

.item-card
{
    background-color: $color-main;
    // border-radius: 4px; 
    align-content: stretch;

    box-shadow: 5px 5px 20px 0px rgba(31, 31, 31, 0.5);

    display: flex;

    color: $item-font-color;
   
    .name
    {
        font-weight: 520;
    }

    .category
    {
        font-family: 'Calibri';
        font-style: italic;
        margin-bottom: 8px;
    }

    mat-form-field
    {
        width: initial;
        padding-right: 14px;
        margin: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper
    {
        padding: 0px;
    }

    ::ng-deep .mat-form-field .mat-form-field-infix
    {
        width: initial;
    }

    .text-content
    {
        padding: 14px;
        flex-grow: 1;
    }

    .actions
    {
        padding: 14px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .delete-btn
        {
            margin-top: 14px;
            align-self: flex-end;
        }
    }

    .image
    {
        flex-grow: 1;

        background-color: rgba(0, 0, 0, 0.267);
        
         
        height: 12em;
        width: 12em;/*  */
        max-width: 12em;
        max-height: 12em;
        vertical-align: top;
        img{
            object-fit: cover;
            width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
            height: 100%;
            vertical-align: bottom;
        }
    }
}


.mat-form-field-wrapper
{
    padding: 0px;
}