<!-- <p mat-dialog-title>
  my-dialog works!
</p> -->
<h1 matDialogTitle class="title">More details about order</h1>

<mat-dialog-content>
<div class="divs" *ngFor="let items of item" >
    <!-- {{ product.currency }} -->
  <div class="name rows" >{{item.currency}} </div>
  <div class="row" >{{item.finalPrice}} </div>
  <div class="name rows">{{item.name}}</div>
  <div class="row" >{{item.quantity}} </div>
  <!-- <div class="name rows" >The quantity </div>
  <div class="row" >10 </div>
  <div class="name rows">The  item </div>
  <div class="row" >Galaxy </div> -->

</div>


</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose class="btn"> Close dialog</button>
    <!-- <button mat-button>Action</button> -->

</mat-dialog-actions>













