
.name{
  padding-left: 10px;
  font-style: oblique;
}
.title{

    font-weight: bold;
    font-family: "sans-serif";
    font-style: italic;
    line-height: 12px;
    color: black;
    font-size: 30px;
}

// .rows{

//   padding-left: 10px;
//   margin-bottom: 10px;

//   font-family: "sans-serif";
//   font-style: italic;
//   line-height: 12px;
//   color: black;
//   color: white;
//   font-size: 20px;

//  }
.rows{

    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 0.5px dotted   white;
    font-weight: bold;
    // font-family: "sans-serif";
    font-style: italic;
    line-height: 12px;
    color: black;
    font-size: 20px;

   }

   .btn{
     background: salmon;
   }



  .dialod{
    margin: 20px 20px 20px 20px ;
    width: 500px;
    height: 300px;

  }
   .divs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

  }
  .text-content{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 300px;
   background: rgb(63, 105, 221);;
  }
//    .text-content>* {
//     flex: 1  20px;
// }


$color-main: rgb(63, 105, 221);
$color-hover: rgb(81, 140, 228);
$color-edit: rgb(255, 219, 91);
$height: 80px;

.imageStyle{

  background-color: rgb(63, 105, 221);
}

   .image
   {
       border-image: rgb(63, 105, 221);
       background-color: rgb(63, 105, 221);
       height: 100%;
       width: 200px;
       max-width: 200px;
       max-height:100%;
       vertical-align: top;
       img{
           object-fit: cover;
           width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
           height: 100%;
       }
      }
