<!-- <p mat-dialog-title>
  my-dialog works!
</p> -->
<h1 matDialogTitle class="title">More details about order</h1>

<mat-dialog-content *ngFor="let item of items">

  <div class="name rows"   >{{item.currency}} </div>
  <div class="row"  >{{item.finalPrice}} </div>
  <div class="name rows"  >{{item.name}}</div>
  <div class="row"  >{{item.quantity}} </div>
  <div *ngIf="item.image"  class="image">
    <img [src]="item.image" >
  </div>

</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button matDialogClose class="btn"> Close dialog</button>

</mat-dialog-actions>













