<!-- <p mat-dialog-title>
  my-dialog works!
</p> -->
<h1 matDialogTitle class="title">More details about order</h1>
<!-- <cdk-virtual-scroll-viewport itemSize="500" class="example-viewport"> -->
    <div class="dialod">
<mat-dialog-content *ngFor="let item of items"   >

  <div class="divs">
    <div class="imageStyle">
      <div *ngIf="item.image"  class="image" >
          <img [src]="item.image" >
        </div>
      </div>
<div class="text-content"  >
  <div class="name rows Name"  >The Name:  {{item.name}}</div>
  <!-- <div class="name rows"   >The Currency: {{item.currency}} </div> -->
  <div class="rows "  >The Price:  {{item.price}} </div>

  <div class="rows"  > The Quantity:  {{item.quantity}} </div>
</div>

</div>

</mat-dialog-content>
<!-- </cdk-virtual-scroll-viewport> -->

<mat-dialog-actions>

    <button mat-button matDialogClose class="btn"> Close dialog</button>

</mat-dialog-actions>

</div>











