.business-oeder{
  background: rgb(63, 105, 221);;
  height: initial;
  border-radius: 10px;

}
.btnprepared{
  display: inline;
  width:125px;
  border-radius: 11px;
  background-color: #673ab7;
  font-size: 13px;
  line-height: 16px;
  color: rgb(255,255,255);
  font-family: "Georgia";
  border: none;
  height: 35px;
  margin-left: 330px;
  margin-top: -35px;
}
.btn{

    display: inline;
    width:125px;
    border-radius: 11px;
    background-color: #76c38f;
    font-size: 13px;
    line-height: 16px;
    color: rgb(255,255,255);
    font-family: "Georgia";
    border: none;
    height: 35px;
    margin-left: 20px;



}
.divs{
 display: grid;
 padding-top: 10px;
// grid-template-columns: auto auto;

}
.names{
 padding-left: 10px;
 font-style: oblique;
 font-weight: bold;
 font-size: 20px;

}
.rows{
  padding: 10px 10px 10px 10px;
  border-bottom: 0.5px dotted   white;
  border-radius: 10px;

//  font-family: "sans-serif";
  font-style: italic;
  line-height: 12px;
  color: white;


}


