.business-oeder{
  background: rgb(63, 105, 221);;
  height: initial;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto ;
  margin-left: -60px;

}
.btnprepared{
  display: inline;
  width:125px;
  border-radius: 11px;
  background-color: #673ab7;
  font-size: 13px;
  line-height: 16px;
  color: rgb(255,255,255);
  font-family: "Georgia";
  border: none;
  height: 20px;
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-right: 5px;
}
.btn{
     margin-right: 5px;
    display: inline;
    width:125px;
    border-radius: 11px;
    background-color: #76c38f;
    font-size: 13px;
    line-height: 16px;
    color: rgb(255,255,255);
    font-family: "Georgia";
    border: none;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 20px;



}
.divs{
 display: grid;
 padding-top: 10px;
// grid-template-columns: auto auto;

}

.cutomerName{
  margin-left: 10px;
  line-height: 20px;

}
.names{
 padding-left: 10px;

//  font-style: oblique;
//  font-weight: bold;
 font-size: 20px;
 color: black;

}
.category{

  border-bottom: 0.5px dotted   white;
  border-radius: 10px;
  width: 190px;

//  font-family: "sans-serif";
  font-style: italic;
  line-height: 12px;
  color: rgb(54, 52, 52);
}
.rows{

  border-bottom: 0.5px dotted   white;
  border-radius: 10px;
  width: 120px;


//  font-family: "sans-serif";
  font-style: italic;
  line-height: 12px;
  color: rgb(54, 52, 52);


}


