<header>


  <!--<div class="nav-container grid">
    <nav class="buttons">
      <ul>
        <li>
          <a routerLink="/home-page-business" *ngIf="isBusiness">Home Page</a>
        </li>
        <li>
          <a routerLink="/mystore" *ngIf="isBusiness && isVerified">My Store</a>
        </li>
        <li>
          <a routerLink="/business-order" *ngIf="isBusiness">Orders</a>
        </li>

        <li>
          <a routerLink="/home-page-customer" *ngIf="!isBusiness">Home Page</a>
        </li>
        <li>
          <a routerLink="/customer-browse-items" *ngIf="!isBusiness">Browse Products</a>
        </li>
        <li>
          <a routerLink="/customer-notification-page" *ngIf="!isBusiness">Notification Page</a>
        </li>
        <li>
          <a routerLink="/business-order" *ngIf="!isBusiness">History Of Orders</a>
        </li>
        <li>
          <a routerLink="/customer-cart-page" *ngIf="!isBusiness">Cart Page</a>
        </li>
        <li>
          <a routerLink="/following-customer-page" *ngIf="!isBusiness">Following Page</a>
        </li>
        <!-- <li><a routerLink="/about">About</a></li>
        <li>
          <a routerLink="/contact">Contact us</a>
        </li>
        <li>
          <a routerLink="/login" *ngIf="!canLogout"> Login </a>
        </li>
        <li>
          <a routerLink="/business-notifications" *ngIf="isBusiness">Notifications</a>
          <mat-icon>home</mat-icon>
        </li>-->
  <div class="nav-container grid">
    <nav class="buttons">
      <ul>
        <li *ngIf="username" ><div id="username">{{username}}</div></li>

        <li><a routerLink="/home-page-business" *ngIf="isBusiness"matTooltip=" Home Page"><mat-icon>home</mat-icon></a></li>
        <li><a routerLink="/mystore" *ngIf="isBusiness && isVerified" matTooltip=" My Store"><mat-icon>store</mat-icon></a></li>
        <li><a routerLink="/business-order" *ngIf="isBusiness"matTooltip="Orders"><mat-icon>reorder</mat-icon></a></li>
        <li><a routerLink="/home-page-customer" *ngIf="!isBusiness"matTooltip=" Home Page"><mat-icon>home</mat-icon></a></li>
        <li><a routerLink="/customer-browse-items" *ngIf="!isBusiness" matTooltip=" Browse Products"><mat-icon>category</mat-icon></a></li>
        <li><a routerLink="/customer-notification-page" *ngIf="!isBusiness"matTooltip="Notification Page"><mat-icon>notifications_active</mat-icon></a></li>
        <li><a routerLink="/customer-order" *ngIf="!isBusiness"matTooltip="History Of Orders"><mat-icon>reorder</mat-icon></a></li>
        <li><a routerLink="/customer-cart-page" *ngIf="!isBusiness"matTooltip="Cart Page"><mat-icon>shopping_cart</mat-icon></a></li>
        <li><a routerLink="/following-customer-page" *ngIf="!isBusiness"matTooltip="Following Page"><mat-icon> check_box</mat-icon></a></li>
        <!-- <li><a routerLink="/about">About</a></li> -->
        <li><a routerLink="/contact"matTooltip="Contact us"><mat-icon>contact_mail</mat-icon></a></li>
        <li><a routerLink="/login" *ngIf="!canLogout"> Login </a></li>
        <li>
          <a routerLink="/business-notifications" *ngIf="isBusiness"matTooltip="Notification Page"><mat-icon>notifications_active</mat-icon></a>
        </li>
        <li><a routerLink="/" (click)="logout()" *ngIf="canLogout" matTooltip="Logout"> Logout </a></li>
      </ul>
    </nav>

    <a routerLink="/" class="title">
      <!-- {{ appTitle }} -->
      <img src="assets/logo.png">
    </a>



      <ngx-page-click class="search-container"
      [disabled]="clickOutsideDisabled"
      [outsideClickHandler]="outsideClickHandler"
      [listenTo]="clickOutsideOn"
    >
      <ais-instantsearch class="searchBar overflowVisible" [config]="searchConfig">
        <ais-search-box placeholder='Search for anything...' [searchAsYouType]="false"
          [autofocus]="true" (click)="searchSubmit($event)"></ais-search-box>

        <ais-hits *ngIf="showResults"  class="overflowVisible">
          <ng-template let-hits="hits" class="dropdown" class="overflowVisible" >
            <div *ngFor="let hit of hits" >
              <div *ngIf="hit.type != 'business'" >
                <app-item-customer-suggestion class="dropdown-content" [item]="prepareItem(hit)" (closeResults)="closeResults()"></app-item-customer-suggestion>
              </div>
              <div *ngIf="hit.type == 'business'" >
                <app-item-customer-suggestion class="dropdown-content" [item]="prepareItem(hit)" (closeResults)="closeResults()"></app-item-customer-suggestion>
              </div>
            </div>
          </ng-template>
        </ais-hits>
      </ais-instantsearch>
    </ngx-page-click>

  </div>

</header>
