header {

  background: #7700FF;

  // .dropdown .dropbtn {
  //   font-size: 16px;  
  //   border: none;
  //   outline: none;
  //   color: white;
  //   padding: 14px 16px;
  //   background-color: inherit;
  //   font-family: inherit;
  //   margin: 0;
  // }
  
  // .dropdown-content {
  //   display: none;
  //   position: absolute;
  //   background-color: #f9f9f9;
  //   min-width: 160px;
  //   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  //   z-index: 1;

   
  // }
  
  // .dropdown:hover .dropdown-content {
  //   display: block;
  // }

  .search-result {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .search-result:hover {
    background-color: #ddd;
  }

  .dropdown-content
  {
    overflow: hidden;
  }

  #username
  {
    font-style: italic;
    margin-right: 0.5em;
  }

  .logo {
    font-weight: bold;
  }

  nav.buttons
  {
    justify-self: right;
  }

  nav.user
  {
    justify-self: left;
    display: inline-block;
    vertical-align: middle;
  }

  nav{

    ul {
      list-style-type: none;
      margin: 0; padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;

          &:hover {
            background: #8E2BFF;
          }
        }
      }
    }
  }
}
