$main-color: #7700FF;

header {
  position:absolute;
  width: 100%;
  z-index: 100 !important;
  background: $main-color;
  
  background: linear-gradient(to right, $main-color, $main-color, $main-color,  white);
  
  // -webkit-gradient(radial, center, 0px, center, 100%, color-stop(0%,#XXXXXX), color-stop(100%,#YYYYYY));

  .overflowVisible
  {
    overflow: visible;
  }

  .grid
  {
    min-height: 0; 
    max-height: inherit;
    overflow: visible;
  }

  .dropdown{
    max-height: 0px;
  }
  
  .dropdown-content {
  
    float: none;
    color: black;
    display: block;
    text-align: left;

  }

  // .dropdown-content:hover{   
  //   background-color: #ddd;
  // }

  #username
  {
    font-style: italic;
    margin-right: 0.5em;
    color: white;
  }

  .logo {
    font-weight: bold;
  }

  nav.buttons
  {
    justify-self: left;
    grid-area: nav-buttons;
  }

  .title
  {
    justify-self: right;
    margin-right: 1.2em; 

    grid-area: title;

    img{
      object-fit: contain;
      height: 4em;
      overflow: visible;
    }
  }

  ngx-page-click
  {
    margin-left: 1.2em;
    width: 90%;

    grid-area: search;
  }

  nav.user
  {
    justify-self: right;
    margin-right: 1.2em;
    display: inline-block;
    vertical-align: middle;

    grid-area: user;
  }

  nav{


    ul {
      list-style-type: none;
      margin: 0; padding: 0;

      li {
        float: left;

        a {
          margin: 1.5em;
          text-transform: uppercase;
          font-size: .8em;

          color: white; 

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
