header {
  position:absolute;
  width: 100%;
  z-index: 100 !important;
  background: #7700FF;
  
  .overflowVisible
  {
    overflow: visible;
  }

  .grid
  {
    min-height: 0; 
    max-height: inherit;
    overflow: visible;
  }

  .dropdown{
    max-height: 0px;
  }
  
  .dropdown-content {
  
    float: none;
    color: black;
    display: block;
    text-align: left;

  }

  // .dropdown-content:hover{   
  //   background-color: #ddd;
  // }

  #username
  {
    font-style: italic;
    margin-right: 0.5em;
    color: white;
  }

  .logo {
    font-weight: bold;
  }

  nav.buttons
  {
    justify-self: right;
  }

  nav.user
  {
    justify-self: left;
    display: inline-block;
    vertical-align: middle;
  }

  nav{

    ul {
      list-style-type: none;
      margin: 0; padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;

          &:hover {
            background: #8E2BFF;
          }
        }
      }
    }
  }
}
