<div class="item-card" *ngIf="item" >

  <div class="item-content">
    <div class="text-content" >
      <div class="data">
        <div class="name rows">{{ item.name | uppercase }}</div>
        <div class="category rows">{{ item.category }}</div>
      </div>
      
      <div class="data right-side">
        <div class="rows">{{ item.price | currency:'ILS':'symbol':'1.1-1' }}</div>
        <div class="rows">{{ item.stock }} pcs.</div>      
      </div>
    </div>

    <div *ngIf="item.image"  class="image">
      <img [src]="item.image" >
    </div>
  </div>

  <div class="actions" align="right" [formGroup]="quantityForm" *ngIf="item.type == 'product'">
    <p *ngIf="!inCart" >Add to cart</p>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput type="number" [value]="item.quantity"
        name="quantity" formControlName="quantity">
      <mat-error *ngIf="quantityForm.invalid">Please enter a quantity</mat-error>
    </mat-form-field>
    <p>{{ getFinalPrice() | currency:'ILS':'symbol':'1.1-1' }}</p>
    <button (click)="btnRemoveFromCart()" matTooltip="Remove item from cart"
      mat-mini-fab color="warn" class="order-btn">
      <mat-icon svgIcon="remove-from-cart-icon"></mat-icon>
    </button>  
  </div>

</div>
