$color-main: rgb(63, 105, 221);
$color-hover: rgb(81, 140, 228);

.content
{
    .search-container
    {
        width: 96%;

    }
    
    height: 96%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        mat-dialog-actions
        {
            // display: flex;
            // flex-direction: column; 

        .clicked-item
        {
            margin: 1em;
        }

        .horizontal-container
        {
            display: flex;
            flex-direction: row;
            width: 96%;
            justify-content: space-between;
            
            button, span
            {
                align-self: flex-end;
            }
        }
    }
    
}

