<p  >Add Product</p>
<form [formGroup]="addProductForm" >

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter The Name" formControlName="Name" required>
      <mat-error *ngIf="Name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter The barcode" formControlName="Barcode" required>
      <mat-error *ngIf="Barcode.invalid">{{getErrorMessageTags()}}</mat-error>

    </mat-form-field>


    <mat-form-field>
      <mat-select  placeholder="Category" formControlName="CategoryControl" *ngIf="categories" required>
        <mat-option *ngFor="let category of categories "  value="{{category.name}}"  >{{category.name}}</mat-option>
<!--  -->
      </mat-select>
      <mat-error *ngIf="CategoryControl.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Enter The Price" min=1 oninput="validity.valid||(value='-');"
      formControlName="Price" required>
      <mat-error *ngIf="Price.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Enter The Stock" min=0 oninput="validity.valid||(value='');"
      formControlName="Stock" required>
      <mat-error *ngIf="Stock.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="example-container1">
      <span class="span" *ngIf="message">{{message}}</span>
      <input md-button md-raised md-primary #file type="file" accept='image/*'  formControlName="Image" id="mm"  (change)="preview(file.files)" required/>
      <!-- <mat-error *ngIf="Image.invalid">{{getErrorMessageImage()}}</mat-error> -->
      <img [src]="imgURL" class="uploadPictuer" *ngIf="imgURL">

    </div>




    <div class="example-button-row">
      <button id="btnAdd" mat-raised-button [disabled]="addProductForm.invalid" (click)="onSubmit()">Add</button>
      <button id="btnClear" mat-raised-button  (click)="onClear()"> Clear</button>

    </div>
  </div>

</form>



<!-- <div class="example-button-row">
    <button mat-mini-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>

      <button mat-mini-fab>
          <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
        </button>
  </div> -->
