<div class="item-card" (click)="onClick()">

    <!-- <div class="actions" align="right">
      <button mat-mini-fab>
        <mat-icon svgIcon="edit-icon"></mat-icon>
      </button>  

    </div> -->
  
    <div class="text-content" >
      <div class="data" *ngIf="!isEdit">
        <div class="name rows">{{ item.name }}</div>
        <div class="name rows">{{ item.category }}</div>
      </div>
  
    </div>
  
    <div *ngIf="item.image"  class="image">
      <img [src]="item.image" >
    </div>
  
  </div>