/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$item-font-color: white;


body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

header{
  max-height: 7.2em;
  
}

section
{
  position: relative;
  top: 6.2em;
}

a {
  text-decoration: none;
  
}

.nav-container {
  width: 96%;
  margin: 0 auto;
  padding: 1.3em;

  display: grid; 
  grid-gap: 1.3em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    "nav-buttons nav-buttons nav-buttons title"
    "search search user title";
  

  a {
    color: white;
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

.centered-container
{
    margin: 0 auto;
    display: grid;
    width: 75%;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;

    a
    {
        text-align: center;
    }

    img
    {
        width: 100px;
        height: 100px;
    }
}

.loading
{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;

  
  mat-spinner, img
  { 
    position: fixed;
    z-index: 999;

    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  mat-spinner
  {
    height: 2em;
    width: 2em;
  }

  img
  {
    height: 22%;
    margin-top: 5%;
  }
}
