$break-small: 320px;
$break-large: 1060px;
mat-form-field {
  margin-right: 100px;
}
.example-full-width{

  margin-left: 10px;
}
.grid{
display: grid;
grid-template-columns: auto auto;
grid-gap: 22px;
  padding: 10px;
   text-align: left;


}
.title{
   font-weight: bold;
    font-family: "sans-serif";
    font-style: italic;
    line-height: 12px;
    color: black;
    font-size: 30px;
}
.filter{
  background: #76c38f ;
}
.result{
  // background: rgb(63, 105, 221);
   font-weight: bold;
   font-style: italic;
   font-size: 20px;
}
