<h1>Browse</h1>

<div class="grid-contener">

  <div>
    <h3>Businesses/Stores</h3>
    <mat-card class="search-result" *ngFor="let cate of categoryBusiness" (click)="onClick(cate)"> {{ cate.name }} </mat-card>
  </div>

  <div>
    <h3>Products</h3>
    <mat-card class="search-result" *ngFor="let cate of categoryProducts" (click)="brawseByBusiness(cate)"> {{ cate.name }} </mat-card>
  </div>

</div>
<hr>

<mat-list>
  <div *ngIf="currentCategory == 'business'">
    <div class="Result">
      <p> Results : {{ users.length }} </p>
    </div>
    <mat-list-item class="search-result" *ngFor="let user of users">{{ user.name }} ---> {{ user.ownerName }} ---> {{ user.phoneNumber }}
      <button mat-stroked-button style="background-color: white;color: black;margin-left: 200px">Following</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="currentCategory == 'product'">
    <div class="Result">
      <p> Results : {{ items.length }} </p>
    </div>
    <div *ngFor="let item of items">
      <app-item-customer-suggestion [item]="item"></app-item-customer-suggestion>
      <hr>
    </div>
  </div>
</mat-list>