<h1>Browse</h1>

<div class="grid-contener">

  <div>
    <h3>Businesses/Stores</h3>
    <mat-card class="search-result" *ngFor="let cate of categoryBusiness" (click)="onClick(cate)"> {{ cate.name }} </mat-card>
  </div>

  <div>
    <h3>Products</h3>
    <mat-card class="search-result" *ngFor="let cate of categoryProducts" (click)="brawseByBusiness(cate)"> {{ cate.name }} </mat-card>
  </div>

</div>
<hr>

<mat-list>
  <div *ngIf="currentCategory == 'business'">
    <p> Numer Of Result is {{ users.length }} </p>
    <mat-list-item class="search-result" *ngFor="let user of users">{{ user.name }} ---> {{ user.ownerName }} ---> {{ user.phoneNumber }} 
        <button mat-stroked-button style="background-color: white;color: black;margin-left: 200px">Following</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="currentCategory == 'product'">
      <p> Numer Of Items is {{ items.length }} </p>
      <mat-list-item class="search-result" *ngFor="let item of items">{{ item.name }} ---> {{ item.businessName }} ---> {{ item.price }}
          <button mat-mini-fab style="margin-left: 200px">
              <mat-icon aria-label="Example icon-button with a heart icon">local_grocery_store</mat-icon>
            </button>
        
      </mat-list-item>
      
    <mat-divider></mat-divider> 
    
  </div>
</mat-list>