<form [formGroup]="customerForm">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="width">
          <input matInput placeholder="Full Name" formControlName="name" required>
          <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="width">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="width">
          <span matPrefix>+972 &nbsp;</span>
          <input type="tel" matInput placeholder="Telephone" formControlName="phone" type="number" min="0" >
          <mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    
    <tr>
      <td>
        <mat-form-field class="width">
          <input matInput placeholder="Location Discription" [formControl]="location" type="text" required>
          <mat-error *ngIf="location.invalid">{{getErrorMessageLocation()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <div class="example-selected-value">Your Gender is: {{favoriteSeason}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="width">
          <input matInput placeholder="Password" [formControl]="password" type="password">
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="width">
          <input matInput placeholder="Confirem Password" [formControl]="password" type="password">
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button color="primary">Submit</button>

      </td>
      <td>
        <button mat-raised-button color="accent" (oncklick)="clearAllFiled()">Clear</button>
      </td>
    </tr>
  </table>
</form>